.table{
    display: table;
}
  
  
.row{
    display: table-row;
}
  
.cell{
    border: none;
    display: table-cell;
    border-width: 2px;
    vertical-align: top;
}

#button {
    background-color:#f185b7;
    padding: 15px 25px;
    text-decoration: none;
  }

#bg {
    background-color: #AAABBC;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    color: #34544F;
    font-family: 'Ruge Boogie';
}

#intro{
    background-color: #AAABBC;
    width: 100%;
    text-align: center;
    color: #34544F;
    font-family: "Playwrite AU SA", serif;
}

body{
    background-image: url(images.jpeg);
    font-size: 1vw;
}

#header{
    background-color:  #C3C9E9;
    width: 100%;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #C3C9E9;
}
 

#logo{
    margin-left: 15px;
}

#navigation{
    list-style-type: none;
}

#navigation2{
    float: right;
    list-style-type: none;
}


li a {
    display: block;
    color: white;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
}
  

a:link{
    color: #373F47;;
    text-decoration: none;
}

a:visited{
    color: #373F47;
    text-decoration: none;
}

a:hover{
    color: #6C91C2;
    text-decoration: underline;
    background-color: aliceblue;
}
  
.o {
   text-decoration: none;
   background: rgb(255, 255, 255);
   color: #373F47;
   padding: 15px 5px;
   margin: 10px;
   width: 200px;
   height: 20px;
}