body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #f4f4f4;
        }
        header {
            background: #AAABBC;
            color: white;
            padding: 15px;
            font-size: 24px;
            font-family: 'Ruge Boogie';
        }
        .container {
            padding: 20px;
        }
        .nav {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .nav a {
            text-decoration: none;
            background: #373F47;
            color: white;
            padding: 15px 20px;
            margin: 10px;
            border-radius: 5px;
        }
        .nav a:hover {
           color: #6C91C2;
    text-decoration: underline;
    background-color: aliceblue;
        }
        .content {
            max-width: 800px;
            margin: auto;
            text-align: left;
        }
