body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #f4f4f4;
        }
        header {
            background:  #D8D1E1;
            color: #3B0404;
            padding: 15px;
            font-size: 24px;
            font-family: playfair display;
        }
        .container {
            padding: 20px;
        }
      
        .content {
            max-width: 800px;
            margin: auto;
            text-align: left;
        }

        button {
            background-color: rgb(243, 243, 243);
            border: 5px;
            color: #000000;
            padding: 15px 32px;
            margin: 4px 2px;
    
        }

        .button-container {
            display: flex; 
            gap: 10px; 
          }
      
          .button-container button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #fcf9fe;
            color: #3B0404;
            border: none;
            border-radius: 5px;
          }
      
          .button-container button:hover {
            background-color: #D1B0E0;
          }
